body {
	margin: 0;
  padding: 0;
	background: #252222;
}

.top_rectangle {
	width: 100%;
	height: 95px;
	display: flex;
	background: #F77A06;
	z-index: 2;
}

#logo {
	width: 70px;
	height: 70px;
}

#title {
	padding-top: 10px;
	padding-left: 10px;
	text-decoration: none;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	line-height: 56px;
	color: #000000;
}

.left_side {
	display: flex;
	margin-right: 50px;
	margin-top: 17px;
	margin-left: 20px;
	height: 50px;
	width: 435px;
	justify-content: flex-start;
	cursor: pointer;
}

.left_side:hover {
	opacity: 0.5;
}

.right_side {
	display: flex;
  flex-direction: row;
  justify-content: flex-end;
	height: 105px;
	width: 100%;
}

.search_string {
	width: 425px;
	height: 32px;
	background: #FFFFFF;
	border-radius: 30px;
	border-color: #000000;
	margin-top: 35px;
	margin-right: 70px;
}

#search {
	position: absolute;
	top: 41px;
	width: 347px;
	height: 18px;
	background: #FFFFFF;
	font-family: system-ui;
	font-style: normal;
	font-size: 15px;
  font-weight: normal;
	color: #000000;
	border-width: 0px;
}

#loupe {
	width: 19px;
	height: 18px;
	padding-top: 8px;
	padding-left: 14px;
	padding-right: 13px;
}

#navbar {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 34px;
	background: #F1F1F1;
	z-index: 2;
}

.tabs {
	padding: 35px, 0;
	height: 34px;
	margin: auto;
	display: flex;
	font-size: 18px;
	justify-content: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
}

.tabs ul li {
	list-style: none;
	margin: 0 25px;
	position: relative;
	display: inline-block;
	bottom: 13px;
}

.tabs ul li a {
	text-decoration: none;
	color: #F77A06;
	line-height: 1;
	cursor: pointer;
	display: inline-block;
	position: relative;
	align-items: center;
}

.tabs ul li::after {
	background: #F77A06;
	display: block;
	content: "";
	height: 3px;
	width: 0%;
	left: 50%;
	position: absolute;
	-webkit-transition: width .3s ease-in-out;
	-moz--transition: width .3s ease-in-out;
	transition: width .3s ease-in-out;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
}

.tabs ul li:hover::after {
	width: 100%;
}

.login_buttons {
	display: flex;
  flex-direction: row;
  justify-content: flex-end;
	width: 130px;
	padding-right: 5px;
	margin-right: 35px;
}

.login_buttons a {
	font-size: 18px;
	color: #F77A06;
	padding-left: 10px;
	text-decoration: none;
	padding-top: 5px;
}

#log_in:hover {
	color: #ff0000;
}

#sign_in:hover {
	color: #ff0000;
}

.container{
    position: relative;
    min-height: 100vh;
    background:  rgb(252, 206, 108);
}

.container h1{
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    padding: 15px;
    color: #333;
    text-align: center;
    text-transform: capitalize;
}

.container .image-container{
    display: flex;
    flex-wrap: wrap;
    gap:50px;
    justify-content: center;
    padding: 10px;
}

h2{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

.button-3d {
    position:relative;
    left:35%;
    width: auto;
    display:inline-block;
    color:#ecf0f1;
    text-decoration:none;
    border-radius:5px;
    border:solid 1px #f39c12;
    background:#e66022;
    text-align:center;
    padding:16px 18px 14px;
    margin: 12px;
    
    -webkit-transition: all 0.1s;
      -moz-transition: all 0.1s;
      transition: all 0.1s;
      
    -webkit-box-shadow: 0px 6px 0px #d35400;
    -moz-box-shadow: 0px 6px 0px #d35400;
    box-shadow: 0px 6px 0px #d35400;
  }
  
.button-3d:active{
      -webkit-box-shadow: 0px 2px 0px #d35400;
      -moz-box-shadow: 0px 2px 0px #d35400;
      box-shadow: 0px 2px 0px #d35400;
      position:relative;
      top:4px;
}

.container .image-container .image{
    height: 270px;
    width: 400px;
    border:10px solid rgb(252, 236, 20);
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
    overflow: hidden;
    cursor: pointer;
}

.container .image-container .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}

.container .image-container .image:hover img{
    transform: scale(1.1);

}

.container .popup-image{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.9);
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;
}

.container .popup-image span{
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 40px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    z-index: 100;

}

.container .popup-image img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #fff;
    border-radius: 5px;
    object-fit: cover;
    width: 750px;
}

@media(max-width: 768px){
    .container .popup-image img{
        width: 95%;
    }
}

#white_line {
	width: 100%;
	height: 10px;
	background: #F1F1F1;
  z-index: 2;
}

.bottom_rectangle {
	display: block;
	width: 100%;
	height: 135px;
	background: #F77A06;
	font-size: 16px;
	color: #F1F1F1;
  z-index: 3;
}

.information_about_us {
	width: 100%;
	height: 135px;
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.column_1 {
	margin-top: 50px;
	margin-right: 200px;
}

.column_2 {
	display: flex;
	flex-direction: column;
}

.column_2 a {
	padding-top: 5px;
	text-align: center;
	display: block;
	padding-bottom: 6px;
}

#logo2 {
	display: flex;
	justify-content: center;
	padding-top: 3px;
	padding-left: 151px;
	width: 50px;
	height: 53px;
}

.column_3 {
	margin-top: 50px;
	margin-left: 200px;
	justify-content: flex-end;
}
